@import url("BethEllen_Regular/stylesheet.css");
@import url("ClickerScript_Regular/stylesheet.css");
@import url("DMSans_Thin/stylesheet.css");
@import url("PlaywriteHU_VariableFont_wght/stylesheet.css");


h1 {
    font-size: 36px;
    color: #DF9418;
}

h2 {
    color: #AC4C2D;
    font-family: "ClickerScript Regular";
    font-size: 40px;
        }

.marquee-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #883e2a;
    color: #f9f2eb;
    border-top: 2px solid #4a2c1f;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    font-size: 24px;
    font-family: "DMSans Thin";
    font-weight: bold;
}
@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

/* Styles généraux */
body {
    font-family: "DMSans VariableFont opsz", wght;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f9f9f9;
    color: #000000;
    padding-top: 110px; /* Ajuste la hauteur en fonction de celle du header */
}


.content-section {
    margin-bottom: 40px;
}

/* En-tête fixe */
header {
    position: fixed; /* Fixe le header en haut */
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 5px 0; /* Ajout de padding pour un meilleur affichage */
    box-shadow: 2px -10px 31px 14px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* S'assurer que le header est au-dessus des autres éléments */
    -webkit-box-shadow: 2px -10px 31px 14px rgba(0, 0, 0, 0.1);
}

.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}
/* Ajout des styles pour les icônes */
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px; /* Espace entre les icônes */ 
}

.header-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Taille du bouton */
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0; /* Fond gris clair */
    transition: background 0.3s ease, transform 0.2s ease;
}
.header-icons a:hover {
    background-color: #d66831; /* Couleur de survol */
    transform: scale(1.5); /* Léger agrandissement au survol */
}

.header-icons svg {
    width: 30x; /* Taille de l’icône */
    height: 30px;
    fill: #333; /* Couleur des icônes */
    transition: fill 0.3s ease;
}

.header-icons a:hover svg {
    fill: rgb(0, 0, 0); /* Icône devient blanche au survol */
}
.header-icons-footer {
    gap: 15px; /* Espace entre les icônes */
    color: #000000;
    padding: 0px;
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste la largeur max du contenu */
    margin: 20px auto 10px auto; /* Centre horizontalement */
    font-family: "DMSans VariableFont opsz"; 
    font-size: 18px;
    z-index: 999;

    /* Centrer le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* Permettre aux éléments de passer à la ligne */
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    
}

.header-icons-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Taille du bouton */
    height: 40px;
    border-radius: 50%;
    background-color: #c48c8c; /* Fond gris clair */
    transition: background 0.3s ease, transform 0.2s ease;
}
.header-icons-footer a:hover {
    background-color: #f9f2eb; /* Couleur de survol */
    transform: scale(1.5); /* Léger agrandissement au survol */
}

.header-icons-footer svg {
    width: 30x; /* Taille de l’icône */
    height: 30px;
    fill: #000000; /* Couleur des icônes */
    transition: fill 0.3s ease;
}

.header-icons-footer a:hover svg {
    fill: rgb(0, 0, 0); /* Icône devient blanche au survol */
}
.fond-footer{
    background-color: #c48c8c;
    border: 2px solid #000; /* Bordure noire de 5px */
    border-radius: 10px; /* Coins légèrement arrondis (optionnel) */
}
/* Logo */
.logo img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease-in-out; /* Animation fluide */
}

.logo img:hover {
    transform: scale(1.1); /* Légère augmentation de la taille */
}

 /* Titre centré en haut */
 .title {
    text-align: center;
    font-family: "ClickerScript Regular";
    font-size: 40pt;
    color: #AC4C2D;
    margin-bottom: 30px;
        }

/* Titre du site */
.site-title h1 {
    margin: 0;
    font-size: 50px;
    color: #883E2A;
    font-family: "BethEllen Regular";
}

 /* Conteneur pour l'image et le texte */
 .text-image-container {
    display: flex;
    flex-wrap: wrap; /* Permet le texte de descendre sous l'image quand nécessaire */
    align-items: flex-start;
    margin-bottom: 20px;
    /* [disabled]font-family: "ClickerScript Regular"; */
        }

        /* Style pour le texte à droite de l'image */
        .text-image-container .text {
            flex: 1; /* Prend toute la largeur restante */
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 15pt;
            color: #000000;
            min-width: 0; /* Permet au texte de se casser si l'espace est plein */
            /* [disabled]font-style: normal; */
                }
        
                .text-image-container .text p {
                    margin-bottom: 15px; /* Espacement entre les paragraphes */
                }
        
                /* Conteneur pour la partie texte en dessous */
                .text-below-image {
            width: 100%; /* Largeur totale pour le texte en dessous */
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 15pt;
            color: #000000;
            margin-top: 20px;
                }

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: "ClickerScript Regular";
    display: inline-block; /* Permet l'agrandissement */
    transition: transform 0.2s ease-in-out; /* Animation fluide */
}

nav ul li a:hover {
    color: #D66831;
    transform: scale(1.1); /* Légère augmentation de la taille */
}

.active {
    color: #D66831;
}

/* Contenu principal */
main {
    width: 90%;  /* Ajoute une largeur maximale */
    padding: 10px 20px;  /* Espacement autour du contenu */
    background: white;
    margin: 0 auto;  /* Centre le contenu */
    max-width: 1200px;  /* Largeur maximale du contenu principal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 0px; /* Espace entre titre principal et debut du main */
}

main section {
    margin-bottom: 40px;  /* Augmentation de la marge entre les sections */
        color: #000000;
        font-family: "DMSans VariableFont opsz", wght;
        font-size: 20px;
            }

/* Cartes */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les vignettes */
    margin-top: 30px;
}

.card {
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 30%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Image de fond */
.card.yoga {
    background-image: url('images/yoga.jpg');
    background-size: cover;
    background-position: center;
}

.card.art {
    background-image: url('images/art.jpg');
    background-size: cover;
    background-position: center;
}

.card.montessori {
    background-image: url('images/montessori.jpg');
    background-size: cover;
    background-position: center;
}

/* Overlay sombre */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Par défaut transparent */
    transition: background 0.3s ease-in-out;
    z-index: 1;
}

/* Texte au-dessus de l'image */
.card h3, .card p {
    position: relative;
    z-index: 2;
    margin: 0;
}

.card h3 {
    font-size: 39px;
    font-family: "BethEllen Regular";
    margin-bottom: 10px;
    color: #F9F2EB;
    text-decoration: none;
}

.card p {
    font-size: 16px;
}

/* Effets au survol */
.card:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.3); /* Assombrissement de la carte */
}

.card:hover a {
    color: #f9f2eb; /* Garde la couleur du texte claire */
}

.card:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

/* Bouton "En savoir plus" */
.card .btn-en-savoir-plus {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #de4814 !important;
    color: #FFFFFF !important;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease !important;
    z-index: 2;
    font-family: "DMSans Thin";
    text-decoration: none;
}

/* Affiche le bouton au survol de la carte */
.card:hover .btn-en-savoir-plus {
    display: block;
    /* [disabled]font-family: "DMSans Thin"; */
}

.card a {
    text-decoration: none;
    color: #f9f2eb; /* Couleur du texte */
    font-weight: bold;
    position: relative;
}

/* Effet au survol du bouton */
.card .btn-en-savoir-plus:hover {
    background-color: #b93e13 !important; /* Couleur plus foncée pour l'effet */
    /* [disabled]font-family: "DMSans Thin"; */
}
    /* Style pour l'image à gauche */
    .diaporama-images {
        width: 40%;
        margin-right: 20px;
        max-width: 500px;
        overflow: hidden;
        position: relative;
        height: 300px; /* Fixe une hauteur */
    }

    .diaporama-images img {
        width: 100%;
        height: 100%; /* Assurez-vous que l'image occupe toute la hauteur du conteneur */
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        object-fit: cover; /* Pour éviter l'étirement de l'image */
    }

    /* Affichage de l'image active */
    .diaporama-images img.active {
        opacity: 1;
    }
    iframe {
        border-radius: 15px;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }
    #calendar {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #f9f2eb;
        padding: 20px;
        border: 2px solid #883e2a;
        border-radius: 10px;
    }
    
        /* Styles pour le menu latéral */
.side-nav {
    position: fixed;
    top: 120px; /* Positionner le menu juste en dessous de l'en-tête */
    left: 0;
    width: 200px;
    padding: 20px;
    background-color: #c48c8c;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    color: #f9f2eb;
    font-family: "BethEllen Regular";
    font-size: 25px;
    transition: width 0.3s ease; /* Transition fluide pour l'animation */
    border-radius: 5%;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3), /* Ombre principale */
                -2px -2px 10px rgba(255, 255, 255, 0.2); /* Effet légèrement lumineux sur les bords */
}

.side-nav.closed {
    width: 15px; /* Réduit la largeur quand le menu est fermé */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Réduire l'ombre pour donner un effet plus compact */
    font-size: 0px; /* Cache le texte quand le menu est fermé */
}

.side-nav a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    background-color: #f9f2eb;
    border-radius: 4px;
    text-align: center;
    font-family: "DMSans VariableFont opsz", wght;
    font-size: 27px;
    font-style: normal;
    text-indent: 5px;
    transition: opacity 0.3s ease; /* Transition pour cacher les liens */
}

.side-nav.closed a {
    opacity: 0; /* Cache les liens quand le menu est fermé */
    visibility: hidden; /* Empêche qu'ils soient accessibles */
    pointer-events: none; /* Désactive complètement les clics */
}

.side-nav a:hover {
    background-color: #c48c8c;
}

/* Style du bouton de dépliage */
.btn-toggle {
    position: absolute;
    top: 50%; /* Centrer verticalement */
    right: -30px; /* Positionner la flèche à droite du menu */
    transform: translateY(-50%); /* Centrer parfaitement */
    background-color: #c48c8c;
    border: 2px solid #f9f2eb; /* Bordure noire*/
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 100%; /* Bord arrondi pour la flèche */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet de profondeur */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition fluide */
}

/* Effet au survol du bouton */
.btn-toggle:hover {
    background-color: #883e2a; /* Change de couleur quand on survole */
    transform: scale(1.7); /* Agrandissement du bouton au survol */
}

/* Rotation de la flèche lorsque le menu est fermé */
.side-nav.closed .btn-toggle svg {
    transform: rotate(180deg); /* Change la direction de la flèche quand le menu est fermé */
}

        
                section {
                    margin-bottom: 40px;
                }
        
                .yoga-type {
            margin-bottom: 30px;
            /* [disabled]font-family: "DMSans Thin"; */
                }
        
                .yoga-details {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: #000000;
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 20px;
                }
        
                .yoga-details p {
            margin: 10px 0;
            color: #000000;
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 21px;
                }
        
                .yoga-details .price {
            font-weight: bold;
            color: #000000;
                }
        
/* Style pour le diaporama ATELIER YOGA */
.slider-container {
    position: relative;
    width: 100%;
    max-height: 400px; /* Fixer la hauteur maximale du diaporama */
    height: 400px; /* Hauteur fixe pour le diaporama */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}

.slider-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider-images img {
    width: 100%; /* Garder l'image à 100% de la largeur du conteneur */
    height: 100%; /* Assurer que l'image occupe toute la hauteur du conteneur sans la dépasser */
    object-fit: cover; /* Permet de maintenir l'aspect ratio de l'image et de remplir le conteneur sans la déformer */
}

.slider-images img.hidden {
    display: none;
}


/* Services */
.service {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #ff6347;
}

/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f2eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    font-weight: bold;
    /* [disabled]font-size: large; */
    font-family: "DMSans Thin";
}

input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #d66831;
    border-radius: 10px;
    font-size: 18px;
    font-family: "DMSans Thin";
    font-weight: bold;
}

textarea {
    resize: vertical;
}

button {
    background: #ffffff;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s ease-in-out;
    font-family: "DMSans Thin";
}

button:hover {
    background: #d66831;
    /* [disabled]font-size: x-large; */
}

footer {
    color: #000000;
    padding: 0px;
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste la largeur max du contenu */
    margin: 20px auto 50px auto; /* Centre horizontalement */
    font-family: "DMSans VariableFont opsz", sans-serif;
    font-size: 17px;
    z-index: 999;

    /* Centrer le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* Permettre aux éléments de passer à la ligne */
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
}



.social-links a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #ff6347;
}

.avis-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.avis {
    width: 500px;
    height: 265px;
    box-sizing: border-box;
}
.avis-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    justify-items: center; /* Centrer les éléments */
}

.avis {
    width: 100%; /* Occupe toute la largeur de la cellule */
    box-sizing: border-box;
}

/* Boutons de chargement */
.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px; /* Ajoute un espace entre les avis et les boutons */
}

#load-more, #load-less {
    padding: 10px 20px;
    background-color: #e3ad7f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block; /* Assurer que les boutons soient affichés en ligne */
}

#load-more:hover, #load-less:hover {
    background-color: #883e2a;
}



/* Responsive Design */
@media (max-width: 1158px) {
    .header-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Espacement entre les éléments */
        padding: 10px;
    }

    .logo img {
        width: 80px; /* Réduit la taille du logo */
    }

    .site-title h1 {
        font-size: 30px; /* Titre plus petit */
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permet de passer à la ligne si besoin */
        gap: 10px; /* Espacement entre les liens */
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        font-size: 14px; /* Taille plus petite des liens */
        margin: 5px;
    }

    .card {
        width: 100%;
    }
   /* Conteneur du texte et de l'image */
   .text-image-container {
    display: flex;
    flex-direction: column; /* Organiser les éléments en colonne */
    align-items: center; /* Centrer le contenu */
    margin-bottom: 20px;
}

/* Diaporama */
.diaporama-images {
    margin-top: -25px;
    width: 100%; /* Prend toute la largeur */
    max-width: 100%; /* S'assurer que l'image ne dépasse pas */
    height: 300px; /* Fixe la hauteur de l'image */
    position: relative;
    margin-bottom: -50px;
}

.diaporama-images img {
    width: 100%; /* Taille de l'image */
    height: 120%;
    object-fit: contain; /* Garde l'aspect ratio de l'image */
}

/* Conteneur du texte */
.text-image-container .text {
    margin-bottom: -50px;
}

.text-image-container .text p {
    margin-bottom: 15px;
}

/* Conteneur pour le texte en dessous de l'image */
.text-below-image {
    width: 90%; /* Prendre toute la largeur */
    text-align: center; /* Centrer le texte */
    padding: 0 20px;
}
/* Style pour le diaporama ATELIER YOGA*/
.slider-container {
    position: relative;
    width: 100%;
    height: 200px; /* Hauteur fixe pour le diaporama */
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}

.slider-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider-images img {
    width: 100%;
    height: auto;
}

.slider-images img.hidden {
    display: none;
}
/* Modifier la disposition du menu latéral pour l'afficher en haut sous le header */
.side-nav {
    position: relative; /* On enlève le positionnement fixe pour l'aligner en haut sous le header */
    top: auto; /* On annule le top pour le menu */
    left: auto; /* On annule la position gauche */
    width: 100%; /* Faire en sorte que le menu occupe toute la largeur */
    padding: 10px 0; /* Espacement intérieur pour donner de l'air */
    font-size: 15px;
    background-color: #f4f4f4; /* Ajouter une couleur de fond si nécessaire */
    text-align: center; /* Centrer le contenu du menu */
    z-index: 1; /* S'assurer que ce menu soit au-dessus du reste */
}

/* Styliser les liens du menu latéral */
.side-nav a {
    display: inline-block; /* Disposition des liens en ligne */
    padding: 10px;
    margin: 10px 20px; /* Espacement horizontal entre les liens */
    border-radius: 4px;
    font-size: 18px; /* Réduire la taille de la police */
    font-weight: bold;
    text-decoration: none; /* Retirer les soulignements des liens */
    color: #ffffff; /* Choisir une couleur de texte */
}

.side-nav a:hover {
    background-color: #ddd; /* Ajouter un fond au survol pour l'effet */
}

@media (min-width: 1158px) and (max-width: 1680px) {

}

}