@import url("BethEllen_Regular/stylesheet.css");
@import url("ClickerScript_Regular/stylesheet.css");
@import url("DMSans_Thin/stylesheet.css");
@import url("PlaywriteHU_VariableFont_wght/stylesheet.css");



h1 {
    font-size: 36px;
    color: #DF9418;
}

h2 {
    color: #AC4C2D;
    font-family: "ClickerScript Regular";
    font-size: 40px;
        }

.marquee-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #883e2a;
    color: #f9f2eb;
    border-top: 2px solid #4a2c1f;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    font-size: 24px;
    font-family: "DMSans Thin";
    font-weight: bold;
}
@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

/* Styles généraux */
body {
    font-family: "DMSans VariableFont opsz", wght;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f9f9f9;
    color: #000000;
}


.content-section {
    margin-bottom: 40px;
}

/* En-tête fixe */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 0px 0px;
    box-shadow: 2px -10px 31px 14px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    -webkit-box-shadow: 2px -10px 31px 14px rgba(0, 0, 0, 0.1);
}

.header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo img {
    height: 100px;
    width: auto;
}
 /* Titre centré en haut */
 .title {
    text-align: center;
    font-family: "ClickerScript Regular";
    font-size: 40pt;
    color: #AC4C2D;
    margin-bottom: 30px;
        }

/* Titre du site */
.site-title h1 {
    margin: 0;
    font-size: 50px;
    color: #883E2A;
    font-family: "BethEllen Regular";
}

 /* Conteneur pour l'image et le texte */
 .text-image-container {
    display: flex;
    flex-wrap: wrap; /* Permet le texte de descendre sous l'image quand nécessaire */
    align-items: flex-start;
    margin-bottom: 20px;
    /* [disabled]font-family: "ClickerScript Regular"; */
        }

        /* Style pour le texte à droite de l'image */
        .text-image-container .text {
            flex: 1; /* Prend toute la largeur restante */
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 15pt;
            color: #000000;
            min-width: 0; /* Permet au texte de se casser si l'espace est plein */
            /* [disabled]font-style: normal; */
                }
        
                .text-image-container .text p {
                    margin-bottom: 15px; /* Espacement entre les paragraphes */
                }
        
                /* Conteneur pour la partie texte en dessous */
                .text-below-image {
            width: 100%; /* Largeur totale pour le texte en dessous */
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 15pt;
            color: #000000;
            margin-top: 20px;
                }

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: "ClickerScript Regular";
}

nav ul li a:hover {
    color: #D66831;
}

.active {
    color: #D66831;
}

/* Contenu principal */
main {
    width: 90%;  /* Ajoute une largeur maximale */
    padding: 10px 20px;  /* Espacement autour du contenu */
    background: white;
    margin: 0 auto;  /* Centre le contenu */
    max-width: 1200px;  /* Largeur maximale du contenu principal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 0px; /* Espace entre titre principal et debut du main */
}

main section {
    margin-bottom: 40px;  /* Augmentation de la marge entre les sections */
        color: #000000;
        font-family: "DMSans VariableFont opsz", wght;
        font-size: 20px;
            }

/* Cartes */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les vignettes */
    margin-top: 30px;
}

.card {
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 30%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Image de fond */
.card.yoga {
    background-image: url('images/yoga.jpg');
    background-size: cover;
    background-position: center;
}

.card.art {
    background-image: url('images/art.jpg');
    background-size: cover;
    background-position: center;
}

.card.montessori {
    background-image: url('images/montessori.jpg');
    background-size: cover;
    background-position: center;
}

/* Overlay sombre */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Par défaut transparent */
    transition: background 0.3s ease-in-out;
    z-index: 1;
}

/* Texte au-dessus de l'image */
.card h3, .card p {
    position: relative;
    z-index: 2;
    margin: 0;
}

.card h3 {
    font-size: 39px;
    font-family: "BethEllen Regular";
    margin-bottom: 10px;
    color: #F9F2EB;
    text-decoration: none;
}

.card p {
    font-size: 16px;
}

/* Effets au survol */
.card:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.3); /* Assombrissement de la carte */
}

.card:hover a {
    color: #f9f2eb; /* Garde la couleur du texte claire */
}

.card:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

/* Bouton "En savoir plus" */
.card .btn-en-savoir-plus {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #de4814 !important;
    color: #FFFFFF !important;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease !important;
    z-index: 2;
    font-family: "DMSans Thin";
    text-decoration: none;
}

/* Affiche le bouton au survol de la carte */
.card:hover .btn-en-savoir-plus {
    display: block;
    /* [disabled]font-family: "DMSans Thin"; */
}

.card a {
    text-decoration: none;
    color: #f9f2eb; /* Couleur du texte */
    font-weight: bold;
    position: relative;
}

/* Effet au survol du bouton */
.card .btn-en-savoir-plus:hover {
    background-color: #b93e13 !important; /* Couleur plus foncée pour l'effet */
    /* [disabled]font-family: "DMSans Thin"; */
}
    /* Style pour l'image à gauche */
    .diaporama-images {
        width: 40%;
        margin-right: 20px;
        max-width: 500px;
        overflow: hidden;
        position: relative;
        height: 300px; /* Fixe une hauteur */
    }

    .diaporama-images img {
        width: 100%;
        height: 100%; /* Assurez-vous que l'image occupe toute la hauteur du conteneur */
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        object-fit: cover; /* Pour éviter l'étirement de l'image */
    }

    /* Affichage de l'image active */
    .diaporama-images img.active {
        opacity: 1;
    }
            
        /* Styles pour le menu à gauche */
        .side-nav {
            position: fixed;
            top: 120px; /* Positionner le menu juste en dessous de l'en-tête */
            left: 0;
            width: 200px;
            padding: 20px;
            background-color: #f4f4f4;
            box-shadow: 2px 0 10px rgba(0,0,0,0.1);
            color: #883E2A;
            font-family: "BethEllen Regular";
            font-size: 15px;
                }
                .side-nav a {
            display: block;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #F9F2EB;
            background-color: #C48C8C;
            border-radius: 4px;
            text-align: center;
            font-family: "ClickerScript Regular";
            font-size: 30px;
            font-style: normal;
            text-indent: 5px;
            font-weight: bold;
                }
                .side-nav a:hover {
            background-color: #D66831;
                }
        
                section {
                    margin-bottom: 40px;
                }
        
                .yoga-type {
            margin-bottom: 30px;
            /* [disabled]font-family: "DMSans Thin"; */
                }
        
                .yoga-details {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: #000000;
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 20px;
                }
        
                .yoga-details p {
            margin: 10px 0;
            color: #000000;
            font-family: "DMSans VariableFont opsz", wght;
            font-size: 21px;
                }
        
                .yoga-details .price {
            font-weight: bold;
            color: #000000;
                }
        
                /* Style pour le diaporama */
                .slider-container {
                    position: relative;
                    width: 100%;
                    max-height: 400px;
                    overflow: hidden;
                    border-radius: 8px;
                    margin-bottom: 20px;
                }
        
                .slider-images {
                    display: flex;
                    transition: transform 1s ease-in-out;
                }
        
                .slider-images img {
                    width: 100%;
                    height: auto;
                }
        
                .slider-images img.hidden {
                    display: none;
                }

/* Services */
.service {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #ff6347;
}

/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f2eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    font-weight: bold;
    /* [disabled]font-size: large; */
    font-family: "DMSans Thin";
}

input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #d66831;
    border-radius: 10px;
    font-size: 18px;
    font-family: "DMSans Thin";
    font-weight: bold;
}

textarea {
    resize: vertical;
}

button {
    background: #ffffff;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s ease-in-out;
    font-family: "DMSans Thin";
}

button:hover {
    background: #d66831;
    /* [disabled]font-size: x-large; */
}

/* Pied de page */
footer {
    background: transparent;
    color: #333;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    font-family: "DMSans VariableFont opsz", wght;
    font-size: 18px;
    z-index: 999; /* Pour qu'il passe au-dessus de la bande */
    margin-bottom: 50px; /* Même hauteur que la bande */
}

.social-links a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #ff6347;
}

/* Responsive Design */
@media (max-width: 1158px) {
    .header-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Espacement entre les éléments */
        padding: 10px;
    }

    .logo img {
        width: 80px; /* Réduit la taille du logo */
    }

    .site-title h1 {
        font-size: 30px; /* Titre plus petit */
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permet de passer à la ligne si besoin */
        gap: 10px; /* Espacement entre les liens */
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        font-size: 14px; /* Taille plus petite des liens */
        margin: 5px;
    }

    .card {
        width: 100%;
    }
}
